--indent 2
--header strip

--enable todos

--wrapparameters before-first
--wraparguments before-first
--wrapcollections before-first
--closingparen balanced
--callsiteparen balanced

--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs prev-line
--computedvarattrs prev-line
--complexattrs prev-line
